body {
    margin: 0;
}
#pagecontent {
    height: 100vh;

}
.side {
    height: 100vh;
    background-color: rgb(115, 194, 194);
}
.menu {
    height: 100vh;
    background-color: rgb(133, 187, 187);
}
.message {
    height: 100vh;
    background-color: rgb(184, 204, 204);
}
#replyBox {
    border-radius: 1em;
    border-color: rgb(205, 207, 207);
    border-width: 2px;
}
.attachColumn {
    justify-content: left;
}
.submitColumn {
    justify-content: end;
}
